body {
    background-color: #f4f4f4;
}

.color-grid {
    display: flex;
    gap: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
}

.color1 {
    background-color: #3498db; 
}

.color2 {
    background-color: rgb(231, 76, 60); 
}

.color3 {
    background-color: green; 
}

.color4 {
    background-color: hsl(45, 100%, 50%); 
}

.color5 {
    background-color: purple; 
}
